* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  --font-family-title: 'Asap', sans-serif;
  --font-family-text: 'Inconsolata', sans-serif;
  --font-family-sub-text: 'Maven Pro', sans-serif;

  --title-lg: 800 56px/120% var(--font-family-title);
  --title-md: 800 24px/120% var(--font-family-title);
  --title-sm: 800 16px/120% var(--font-family-title);

  --text-subtitle: 400 20px/120% var(--font-family-text);
  --text-md: 400 16px/140% var(--font-family-sub-tex);
  --text-sm: 400 14px/140% var(--font-family-sub-tex);;
}

.container {
  padding-inline: 32px;
  min-width: 1366px;
  margin-inline: auto;
}